.footer-clean{
   
    color: rgb(61, 95, 47);
    text-decoration: none;
}
ul.dot {
    list-style-type: none;
    text-decoration: none;
}
.link{
    text-decoration: none; 
}
.item{
    margin: 20px;
}